/****************************************************************************
    When directly linking the TER routines, include this file at the end of
    your applications resource file.

    Instead, if you are using the TER DLL, you do not need to include
    this file into your application's resource file.
*****************************************************************************/
#include "windows.h"
#include "ter_cmd.h"
#include "ter_dlg.h"
#include "ter_dlg.dlg"

/*
#ifndef _MAC

#define TER_VERSION 13,0,0,6
#define TER_VERTEXT "13.0.0.6 \0"

VS_VERSION_INFO VERSIONINFO

#if !defined(BORLANDRC)
   FILEVERSION TER_VERSION
   PRODUCTVERSION TER_VERSION
#endif

FILEFLAGSMASK 0x3fL
#ifdef _DEBUG
FILEFLAGS 0x1L
#else
FILEFLAGS 0x0L
#endif
FILEOS 0x4L
FILETYPE 0x2L
FILESUBTYPE 0x0L
BEGIN
    BLOCK "StringFileInfo"
    BEGIN
        BLOCK "040904b0"
        BEGIN
            VALUE "CompanyName", "Sub Systems, Inc. \0"
            VALUE "FileDescription", "TE Edit Control\0"
            VALUE "FileVersion", TER_VERTEXT
            VALUE "InternalName", "\0"
            VALUE "LegalCopyright", "Copyright © 1990-2000\0"
            VALUE "OriginalFilename", "\0"
            VALUE "ProductName", "TE Edit Control\0"
            VALUE "ProductVersion", TER_VERTEXT
        END
    END
    BLOCK "VarFileInfo"
    BEGIN
        VALUE "Translation", 0x409, 1200
    END
END

#endif    // !_MAC
*/

/*****************************************************************************
    Accelerator table to define keyboard commands
******************************************************************************/

TerAccTable  ACCELERATORS
BEGIN
   VK_PRIOR     ,ID_PGUP        ,VIRTKEY  ,NOINVERT
   VK_PRIOR     ,ID_PGUP        ,VIRTKEY  ,NOINVERT     ,SHIFT
   VK_NEXT      ,ID_PGDN        ,VIRTKEY  ,NOINVERT
   VK_NEXT      ,ID_PGDN        ,VIRTKEY  ,NOINVERT     ,SHIFT
   VK_UP        ,ID_UP          ,VIRTKEY  ,NOINVERT
   VK_UP        ,ID_UP          ,VIRTKEY  ,NOINVERT     ,SHIFT
   VK_DOWN      ,ID_DOWN        ,VIRTKEY  ,NOINVERT
   VK_DOWN      ,ID_DOWN        ,VIRTKEY  ,NOINVERT     ,SHIFT
   VK_LEFT      ,ID_LEFT        ,VIRTKEY  ,NOINVERT
   VK_LEFT      ,ID_LEFT        ,VIRTKEY  ,NOINVERT     ,SHIFT
   VK_RIGHT     ,ID_RIGHT       ,VIRTKEY  ,NOINVERT
   VK_RIGHT     ,ID_RIGHT       ,VIRTKEY  ,NOINVERT     ,SHIFT
   VK_HOME      ,ID_LINE_BEGIN  ,VIRTKEY  ,NOINVERT
   VK_HOME      ,ID_LINE_BEGIN  ,VIRTKEY  ,NOINVERT     ,SHIFT
   VK_END       ,ID_LINE_END    ,VIRTKEY  ,NOINVERT
   VK_END       ,ID_LINE_END    ,VIRTKEY  ,NOINVERT     ,SHIFT

   VK_UP        ,ID_CTRL_UP     ,VIRTKEY  ,NOINVERT     ,CONTROL
   VK_UP        ,ID_CTRL_UP     ,VIRTKEY  ,NOINVERT     ,CONTROL ,SHIFT
   VK_DOWN      ,ID_CTRL_DOWN   ,VIRTKEY  ,NOINVERT     ,CONTROL
   VK_DOWN      ,ID_CTRL_DOWN   ,VIRTKEY  ,NOINVERT     ,CONTROL ,SHIFT
   VK_PRIOR     ,ID_FILE_BEGIN  ,VIRTKEY  ,NOINVERT     ,CONTROL
   VK_PRIOR     ,ID_FILE_BEGIN  ,VIRTKEY  ,NOINVERT     ,CONTROL ,SHIFT
   VK_HOME      ,ID_FILE_BEGIN  ,VIRTKEY  ,NOINVERT     ,CONTROL
   VK_HOME      ,ID_FILE_BEGIN  ,VIRTKEY  ,NOINVERT     ,CONTROL ,SHIFT
   VK_NEXT      ,ID_FILE_END    ,VIRTKEY  ,NOINVERT     ,CONTROL
   VK_NEXT      ,ID_FILE_END    ,VIRTKEY  ,NOINVERT     ,CONTROL ,SHIFT
   VK_END       ,ID_FILE_END    ,VIRTKEY  ,NOINVERT     ,CONTROL
   VK_END       ,ID_FILE_END    ,VIRTKEY  ,NOINVERT     ,CONTROL ,SHIFT
   VK_RIGHT     ,ID_NEXT_WORD   ,VIRTKEY  ,NOINVERT     ,CONTROL
   VK_RIGHT     ,ID_NEXT_WORD   ,VIRTKEY  ,NOINVERT     ,CONTROL ,SHIFT
   VK_LEFT      ,ID_PREV_WORD   ,VIRTKEY  ,NOINVERT     ,CONTROL
   VK_LEFT      ,ID_PREV_WORD   ,VIRTKEY  ,NOINVERT     ,CONTROL ,SHIFT

   VK_BACK      ,ID_DEL_PREV_WORD,VIRTKEY  ,NOINVERT     ,CONTROL

   VK_DELETE    ,ID_DEL         ,VIRTKEY  ,NOINVERT
   VK_TAB       ,ID_BACK_TAB    ,VIRTKEY  ,NOINVERT     ,SHIFT
   VK_TAB       ,ID_CTRL_TAB    ,VIRTKEY  ,NOINVERT     ,CONTROL
   VK_TAB       ,ID_TAB         ,VIRTKEY  ,NOINVERT
   "T"          ,ID_TAB         ,VIRTKEY  ,NOINVERT     ,CONTROL
   VK_F9        ,ID_INS_AFT     ,VIRTKEY  ,NOINVERT
   VK_F5        ,ID_INS_BEF     ,VIRTKEY  ,NOINVERT     ,CONTROL
   VK_F9        ,ID_DEL_LINE    ,VIRTKEY  ,NOINVERT     ,SHIFT
   "J"          ,ID_JOIN_LINE   ,VIRTKEY  ,NOINVERT     ,ALT

   VK_F8        ,ID_HILIGHT_LINE,VIRTKEY  ,NOINVERT
   "A"          ,ID_SELECT_ALL  ,VIRTKEY  ,NOINVERT     ,CONTROL

   "X"          ,ID_CUT         ,VIRTKEY  ,NOINVERT     ,CONTROL
   VK_DELETE    ,ID_CUT         ,VIRTKEY  ,NOINVERT     ,SHIFT

   "C"          ,ID_COPY        ,VIRTKEY  ,NOINVERT     ,CONTROL
   VK_INSERT    ,ID_COPY        ,VIRTKEY  ,NOINVERT     ,CONTROL

   "V"          ,ID_PASTE       ,VIRTKEY  ,NOINVERT     ,CONTROL
   VK_INSERT    ,ID_PASTE       ,VIRTKEY  ,NOINVERT     ,SHIFT

   VK_F8        ,ID_PICT_FROM_FILE,VIRTKEY,NOINVERT     ,ALT

   "C"          ,ID_BLOCK_COPY  ,VIRTKEY,NOINVERT       ,ALT
   "M"          ,ID_BLOCK_MOVE  ,VIRTKEY,NOINVERT       ,ALT


   VK_F5        ,ID_SEARCH      ,VIRTKEY  ,NOINVERT
   "F"          ,ID_SEARCH_FOR  ,VIRTKEY  ,NOINVERT     ,CONTROL
   "F"          ,ID_SEARCH_BACK ,VIRTKEY  ,NOINVERT     ,CONTROL , SHIFT
   VK_F6        ,ID_REPLACE     ,VIRTKEY  ,NOINVERT

   VK_F1        ,ID_TER_HELP    ,VIRTKEY  ,NOINVERT
   VK_F7        ,ID_SPELL       ,VIRTKEY  ,NOINVERT
   VK_F8        ,ID_UNDO        ,VIRTKEY  ,NOINVERT     ,SHIFT
   VK_BACK      ,ID_UNDO        ,VIRTKEY  ,NOINVERT     ,ALT
   "Z"          ,ID_UNDO        ,VIRTKEY  ,NOINVERT     ,CONTROL
   "Y"          ,ID_REDO        ,VIRTKEY  ,NOINVERT     ,CONTROL
   VK_INSERT    ,ID_INSERT      ,VIRTKEY  ,NOINVERT
   VK_F3        ,ID_SAVE        ,VIRTKEY  ,NOINVERT
   VK_F3        ,ID_SAVEAS      ,VIRTKEY  ,NOINVERT     ,SHIFT
   VK_F3        ,ID_QUIT        ,VIRTKEY  ,NOINVERT     ,CONTROL
   VK_F4        ,ID_PRINT       ,VIRTKEY  ,NOINVERT
   VK_F4        ,ID_PRINT_OPTIONS,VIRTKEY ,NOINVERT     ,SHIFT
   VK_F10       ,ID_JUMP        ,VIRTKEY  ,NOINVERT

   "0"          ,ID_CHAR_NORMAL ,VIRTKEY  ,NOINVERT     ,ALT
   "B"          ,ID_BOLD_ON     ,VIRTKEY  ,NOINVERT     ,CONTROL
   "U"          ,ID_ULINE_ON    ,VIRTKEY  ,NOINVERT     ,CONTROL
   "D"          ,ID_ULINED_ON   ,VIRTKEY  ,NOINVERT     ,CONTROL
   "I"          ,ID_ITALIC_ON   ,VIRTKEY  ,NOINVERT     ,CONTROL
   "H"          ,ID_HIDDEN_ON   ,VIRTKEY  ,NOINVERT     ,CONTROL 
   "H"          ,ID_HLINK_ON    ,VIRTKEY  ,NOINVERT     ,ALT
   "3"          ,ID_PROTECT_ON  ,VIRTKEY  ,NOINVERT     ,ALT
   "4"          ,ID_SUPSCR_ON   ,VIRTKEY  ,NOINVERT     ,ALT
   "5"          ,ID_SUBSCR_ON   ,VIRTKEY  ,NOINVERT     ,ALT
   "6"          ,ID_STRIKE_ON   ,VIRTKEY  ,NOINVERT     ,ALT

   "7"          ,ID_COLOR       ,VIRTKEY  ,NOINVERT     ,ALT

   VK_F10       ,ID_FONTS       ,VIRTKEY  ,NOINVERT     ,ALT

   "8"          ,ID_CENTER      ,VIRTKEY  ,NOINVERT     ,ALT
   "9"          ,ID_RIGHT_JUSTIFY,VIRTKEY ,NOINVERT     ,ALT
   "L"          ,ID_LEFT_INDENT ,VIRTKEY  ,NOINVERT     ,ALT
   "R"          ,ID_RIGHT_INDENT,VIRTKEY  ,NOINVERT     ,ALT
   "A"          ,ID_HANGING_INDENT,VIRTKEY,NOINVERT     ,ALT
   
   "B"          ,ID_BULLET      ,VIRTKEY  ,NOINVERT     ,ALT
   "N"          ,ID_PARA_NBR    ,VIRTKEY  ,NOINVERT     ,ALT

   "S"          ,ID_EDIT_STYLE  ,VIRTKEY  ,NOINVERT     ,ALT
   "1"          ,ID_CHAR_STYLE  ,VIRTKEY  ,NOINVERT     ,ALT
   "2"          ,ID_PARA_STYLE  ,VIRTKEY  ,NOINVERT     ,ALT

   "N"          ,ID_NEXT_CHANGE ,VIRTKEY  ,NOINVERT     ,CONTROL
   "P"          ,ID_PREV_CHANGE ,VIRTKEY  ,NOINVERT     ,CONTROL

   VK_RETURN    ,ID_PAGE_BREAK  ,VIRTKEY  ,NOINVERT     ,CONTROL
   VK_RETURN    ,ID_RETURN      ,VIRTKEY  ,NOINVERT

END

/*****************************************************************************
    Menu table
******************************************************************************/
TerMenu MENU
BEGIN
   POPUP "&File"
   BEGIN
       MENUITEM "New"                          ,ID_NEW
       MENUITEM "Open..."                      ,ID_OPEN
       MENUITEM "&Save\tF3"                    ,ID_SAVE
       MENUITEM "Save&As...\tShift+F3"         ,ID_SAVEAS
       MENUITEM SEPARATOR
       MENUITEM "Page &Layout..."              ,ID_PAGE_OPTIONS
       MENUITEM "Printer &Setup...\tShift+F4"  ,ID_PRINT_OPTIONS
       MENUITEM "&Print...\tF4"                ,ID_PRINT
       MENUITEM "&Print Preview"               ,ID_PRINT_PREVIEW
       MENUITEM SEPARATOR
       MENUITEM "E&xit\tCtrl+F3"               ,ID_QUIT
   END

   POPUP "&Edit"
   BEGIN
       MENUITEM "Cut\tCtrl+X"                  ,ID_CUT
       MENUITEM "Copy\tCtrl+C"                 ,ID_COPY
       MENUITEM "Paste\tCtrl+V"                ,ID_PASTE
       MENUITEM "Paste Special..."             ,ID_PASTE_SPEC
       MENUITEM SEPARATOR
       MENUITEM "Edit Picture..."              ,ID_EDIT_PICT
       MENUITEM "&Undo...\tCtrl+Z"             ,ID_UNDO
       MENUITEM "&Redo...\tCtrl+Y"             ,ID_REDO
       MENUITEM SEPARATOR
       MENUITEM "Select All\tCtrl+A"           ,ID_SELECT_ALL
       MENUITEM SEPARATOR
       MENUITEM "&Repaginate"                  ,ID_REPAGINATE
       MENUITEM "&Edit Section..."             ,ID_SECT_OPTIONS
       MENUITEM "Edit Style..."                ,ID_EDIT_STYLE
       MENUITEM "Edit Input Field..."          ,ID_EDIT_INPUT_FIELD

       POPUP "&Edit Frame/Drawing Object"
       BEGIN
           MENUITEM "Edit Drawing Object..."    ,ID_EDIT_DOB
           MENUITEM "Vertical Base Position..." ,ID_FRAME_YBASE
           MENUITEM "Rotate Text..."            ,ID_FRAME_ROTATE_TEXT
       END

       POPUP "&List and Overrides"
       BEGIN
           MENUITEM "Create List Item..."     ,ID_CREATE_LIST
           MENUITEM "Edit List Item..."       ,ID_EDIT_LIST
           MENUITEM SEPARATOR
           MENUITEM "Create List Override..." ,ID_CREATE_LIST_OR
           MENUITEM "Edit List Override..."   ,ID_EDIT_LIST_OR
           MENUITEM SEPARATOR
           MENUITEM "Edit List Level..."      ,ID_EDIT_LIST_LEVEL
       END

       MENUITEM SEPARATOR
       MENUITEM "Edit Page Header/Footer"          ,ID_EDIT_HDR_FTR

       POPUP "First Page Header/Footer"
       BEGIN
          MENUITEM "Create First Page Header"      ,ID_CREATE_FIRST_HDR
          MENUITEM "Create First Page Footer"      ,ID_CREATE_FIRST_FTR
          MENUITEM SEPARATOR
          MENUITEM "Delete First Page Header"      ,ID_DELETE_FIRST_HDR
          MENUITEM "Delete First Page Footer"      ,ID_DELETE_FIRST_FTR
       END

       MENUITEM SEPARATOR
       
       POPUP "Edit Footnote/Endnote"
       BEGIN
          MENUITEM "Edit Footnote text"            ,ID_EDIT_FNOTE
          MENUITEM "Edit Endnote text"             ,ID_EDIT_ENOTE
       END

       POPUP "Track Changes"
       BEGIN
          MENUITEM "Enable Tracking"              ,ID_TRACK_CHANGES
          MENUITEM "Find Next Change\tCtrl+N"     ,ID_NEXT_CHANGE
          MENUITEM "Find Previous Change\tCtrl+P" ,ID_PREV_CHANGE
          MENUITEM SEPARATOR
          MENUITEM "Accept Change"                ,ID_ACCEPT_CHANGE
          MENUITEM "Accept All Changes..."        ,ID_ACCEPT_ALL_CHANGES
       END

       MENUITEM "Edit Ole Object"                  ,ID_EDIT_OLE


       MENUITEM SEPARATOR
       MENUITEM "Inline Ime"                       ,ID_INLINE_IME
       MENUITEM "Document Text Flow..."            ,ID_DOC_RTL
   END

   POPUP "&View"
   BEGIN
       MENUITEM "&Page Mode"                   ,ID_PAGE_MODE
       MENUITEM "Fitted View"                  ,ID_FITTED_VIEW
       MENUITEM SEPARATOR
       MENUITEM "&Ruler"                       ,ID_RULER
       MENUITEM "&Tool Bar"                    ,ID_TOOL_BAR
       MENUITEM "&Status Ribbon"               ,ID_STATUS_RIBBON
       MENUITEM "Paragraph &Marker"            ,ID_SHOW_PARA_MARK
       MENUITEM SEPARATOR
       MENUITEM "&Hidden Text"                 ,ID_SHOW_HIDDEN
       MENUITEM "&Field Names"                 ,ID_SHOW_FIELD_NAMES
       MENUITEM "Hyper&link Cursor"            ,ID_SHOW_HYPERLINK_CURSOR
       MENUITEM SEPARATOR
       MENUITEM "Page Header/&Footer"          ,ID_VIEW_HDR_FTR
       MENUITEM "Page Border"                  ,ID_SHOW_PAGE_BORDER
       MENUITEM SEPARATOR
       MENUITEM "Zoom..."                      ,ID_ZOOM
   END

   POPUP "&Insert"
   BEGIN
       POPUP "&Insert Break..."
       BEGIN
          MENUITEM "&Page Break\tCtrl+Enter"    ,ID_PAGE_BREAK
          MENUITEM "&Section Break"             ,ID_SECT_BREAK
          MENUITEM "&Column Break"              ,ID_COL_BREAK
       END
       MENUITEM SEPARATOR
       MENUITEM "Embed Picture...\tAlt+F8"      ,ID_EMBED_PICT
       MENUITEM "Link Picture...\tAlt+F8"       ,ID_LINK_PICT
       MENUITEM "Ole Object..."                 ,ID_INSERT_OBJECT
       MENUITEM SEPARATOR
       MENUITEM "Frame"                         ,ID_INSERT_PARA_FRAME
       MENUITEM "Drawing Object..."             ,ID_INSERT_DRAW_OBJECT
       MENUITEM SEPARATOR
       MENUITEM "Page Number"                   ,ID_INSERT_PAGE_NUMBER
       MENUITEM "Page Count"                    ,ID_INSERT_PAGE_COUNT
       MENUITEM "Date and Time..."            ,ID_INSERT_DATE_TIME
       
       POPUP "Footnote/Endnote"
       BEGIN
          MENUITEM "Footnote..."                 ,ID_INSERT_FNOTE
          MENUITEM "Endnote..."                  ,ID_INSERT_ENOTE
       END

       MENUITEM "Bookmark..."                   ,ID_INSERT_BOOKMARK
       MENUITEM "Table of Contents"             ,ID_INSERT_TOC
       MENUITEM SEPARATOR
       MENUITEM "Data Field..."                 ,ID_INSERT_DATA_FIELD
       MENUITEM "Text Input Field..."           ,ID_INSERT_INPUT_FIELD
       MENUITEM "Checkbox Field..."             ,ID_INSERT_CHECKBOX
       MENUITEM "Hyperlink..."                  ,ID_INSERT_HLINK
       MENUITEM SEPARATOR
       MENUITEM "Non-breaking Space"            ,ID_INSERT_NBSPACE
       MENUITEM "Non-breaking Dash"             ,ID_INSERT_NBDASH
       MENUITEM "Optional Hyphen"               ,ID_INSERT_HYPH
   END

   POPUP "Fo&nt"
   BEGIN
       MENUITEM "Normal\tAlt+0"                ,ID_CHAR_NORMAL
       MENUITEM SEPARATOR
       MENUITEM "Bold\tCtrl+B"                 ,ID_BOLD_ON
       MENUITEM "Underline\tCtrl+U"            ,ID_ULINE_ON
       MENUITEM "Double Underline\tCtrl+D"     ,ID_ULINED_ON
       MENUITEM "Italic\tCtrl+I"               ,ID_ITALIC_ON
       MENUITEM "Superscript\tAlt+4"           ,ID_SUPSCR_ON
       MENUITEM "Subscript\tAlt+5"             ,ID_SUBSCR_ON
       MENUITEM "Strike\tAlt+6"                ,ID_STRIKE_ON
       
       MENUITEM "All Caps"                     ,ID_CAPS_ON
       MENUITEM "Small Caps"                   ,ID_SCAPS_ON

       MENUITEM SEPARATOR
       MENUITEM "Fonts...\tAlt+F10"            ,ID_FONTS
       MENUITEM "Style..."                     ,ID_CHAR_STYLE
       MENUITEM SEPARATOR
       MENUITEM "Text Color..."                ,ID_COLOR
       MENUITEM "Background Color..."          ,ID_BK_COLOR
       MENUITEM "Underline Color..."           ,ID_ULINE_COLOR
       MENUITEM SEPARATOR
       MENUITEM "Spacing..."                   ,ID_CHAR_SPACE
       MENUITEM "Hidden\tCtrl+H"               ,ID_HIDDEN_ON
       MENUITEM "Boxed"                        ,ID_BOX_ON
       MENUITEM "Protect"                      ,ID_PROTECT_ON
       MENUITEM "Hyperlink\tAlt+H"             ,ID_HLINK_ON
   END

   POPUP "&Paragraph"
   BEGIN
       MENUITEM "Normal"                       ,ID_PARA_NORMAL
       MENUITEM SEPARATOR
       MENUITEM "Center\tAlt+8"                ,ID_CENTER
       MENUITEM "Right Justify\tAlt+9"         ,ID_RIGHT_JUSTIFY
       MENUITEM "Justify Both"                 ,ID_JUSTIFY
       MENUITEM "Double Space"                 ,ID_DOUBLE_SPACE
       MENUITEM SEPARATOR
       MENUITEM "Indent Left\tAlt+L"           ,ID_LEFT_INDENT
       MENUITEM "Indent Right\tAlt+R"          ,ID_RIGHT_INDENT
       MENUITEM "Hanging Indent\tAlt+A"        ,ID_HANGING_INDENT
       MENUITEM SEPARATOR
       MENUITEM "Keep Together"                ,ID_PARA_KEEP
       MENUITEM "Keep with Next"               ,ID_PARA_KEEP_NEXT
       MENUITEM "Widow/Orphan Control"         ,ID_WIDOW_ORPHAN
       MENUITEM "Page Break Before"            ,ID_PAGE_BREAK_BEFORE
       MENUITEM SEPARATOR
       MENUITEM "Border and Shading..."        ,ID_PARA_BORDER
       MENUITEM "Paragraph Spacing..."         ,ID_PARA_SPACING
       MENUITEM "Background Color..."          ,ID_PARA_BK_COLOR
       MENUITEM SEPARATOR
       MENUITEM "Bullet"                       ,ID_BULLET
       MENUITEM "Numbering"                    ,ID_PARA_NBR
       MENUITEM "Increase Level"               ,ID_LIST_LEVEL_INC
       MENUITEM "Decrease Level"               ,ID_LIST_LEVEL_DEC
       MENUITEM "List Numbering..."            ,ID_PARA_LIST
       MENUITEM SEPARATOR
       MENUITEM "Set Tab..."                   ,ID_TAB_SET
       MENUITEM "Clear Tab..."                 ,ID_TAB_CLEAR
       MENUITEM "Clear All Tabs"               ,ID_TAB_CLEAR_ALL
       MENUITEM SEPARATOR
       MENUITEM "Style..."                     ,ID_PARA_STYLE
       MENUITEM "Text Flow..."                 ,ID_PARA_RTL
   END

   POPUP "&Table"
   BEGIN
       MENUITEM "Insert &Table"                ,ID_TABLE_INSERT
       MENUITEM SEPARATOR
       MENUITEM "&Insert Row"                  ,ID_TABLE_INSERT_ROW
       MENUITEM "&Insert Column"               ,ID_TABLE_INSERT_COL
       MENUITEM "&Merge Cells"                 ,ID_TABLE_MERGE_CELLS
       MENUITEM "&Split Cell"                  ,ID_TABLE_SPLIT_CELL
       MENUITEM "&Delete Cells..."             ,ID_TABLE_DEL_CELLS
       MENUITEM SEPARATOR
       MENUITEM "&Row Position..."             ,ID_TABLE_ROW_POS
       MENUITEM "Row &Height..."               ,ID_TABLE_ROW_HEIGHT
       MENUITEM "&Header Row"                  ,ID_TABLE_HDR_ROW
       MENUITEM "&Keep Row Together"           ,ID_TABLE_ROW_KEEP
       MENUITEM "Row Text &Flow"               ,ID_TABLE_ROW_RTL
       MENUITEM SEPARATOR
       MENUITEM "Cell &Width..."               ,ID_TABLE_CELL_WIDTH
       MENUITEM "Cell &Border Width..."        ,ID_TABLE_CELL_BORDER
       MENUITEM "Cell &Border Color..."        ,ID_TABLE_CELL_BORDER_COLOR
       MENUITEM "Cell S&hading..."             ,ID_TABLE_CELL_SHADE
       MENUITEM "Cell &Color..."               ,ID_TABLE_CELL_COLOR
       MENUITEM "Cell Vertical Align..."       ,ID_TABLE_CELL_VALIGN
       MENUITEM "Cell Rotate Text..."          ,ID_TABLE_CELL_VTEXT
       MENUITEM SEPARATOR
       MENUITEM "Select Current Column"        ,ID_TABLE_SEL_COL
       MENUITEM "Show &Gridlines"              ,ID_TABLE_SHOW_GRID
   END

   POPUP "&Other"
   BEGIN
       MENUITEM "&Search...\tF5"                 ,ID_SEARCH
       MENUITEM "Search &Forward\tCtrl+F"        ,ID_SEARCH_FOR
       MENUITEM "Search &Backward\tCtrl+Shift+F" ,ID_SEARCH_BACK
       MENUITEM "&Replace...\tF6"                ,ID_REPLACE
       MENUITEM SEPARATOR
       MENUITEM "&Jump...\tF10"                  ,ID_JUMP
       MENUITEM "&Protection Lock"               ,ID_PROTECTION_LOCK
       MENUITEM "Protect Form"                   ,ID_PROTECT_FORM
       MENUITEM "Snap to &Grid"                  ,ID_SNAP_TO_GRID
       MENUITEM "Background Picture..."          ,ID_BKND_PICT
       MENUITEM "Watermark Picture..."           ,ID_WATERMARK

       MENUITEM SEPARATOR
       MENUITEM "Spell &Check"                   ,ID_SPELL

       MENUITEM "&Auto Spell"                    ,ID_AUTO_SPELL
   END
   MENUITEM "&Help"                              ,ID_TER_HELP
END

/*****************************************************************************
    Tool bar bitmaps
******************************************************************************/
ToolbarBM       BITMAP  TER_TLB.BMP

/*****************************************************************************
    Cursor shapes
******************************************************************************/
Table1          CURSOR  TER_TBL1.CUR
Table2          CURSOR  TER_TBL2.CUR
Table3          CURSOR  TER_TBL3.CUR
Tab1            CURSOR  TER_TAB1.CUR
Hyperlink       CURSOR  TER_LINK.CUR
Plus            CURSOR  TER_PLUS.CUR
DragIn          CURSOR  TER_DIN.CUR
DragInCopy      CURSOR  TER_DINC.CUR
DragOut         CURSOR  TER_DOUT.CUR
Wheel1          CURSOR  TER_WHL1.CUR
Wheel2          CURSOR  TER_WHL2.CUR
Wheel3          CURSOR  TER_WHL3.CUR
HBeam           CURSOR  TER_HORZ.CUR
